/*-------Calculator Styles-------*/

body {
 background-color: #1e1e1e;
}

.containerLogic {
 margin: auto;
 width: 100%;
 height: 220px;
 border: 1px solid white; 
 color: #FFFFFF;
 font-size: 48px;
 font-weight: 800;
 display: flex;
 justify-content: end;
 align-items: end;

}

.bnt_calculator {
    background-color: #3C3C3C;
    color: white;
    border-radius: 10px;
    border: none;
    margin: 0.1em;
    font-size: 20px;
    max-width: 700px;
    width: 120px;
    height: 60px;
    cursor: pointer;
    
}

.btn_num {

}

.btn_num:hover {
background-color: #343436;
}


.btn_signs {
    background-color: #343436;
    transition: background-color 0.3s ease;
    
}

.btn_signs:hover {
 background-color: #3C3C3C;
}

.btn_result {
    background-color: #5C5C5C;
}